<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KISSANBANDHU"
        tools:targetApi="31">
        <activity

            android:name=".seller_equiprenttrac"
            android:exported="false" />
        <activity
            android:name=".seller_euipbuymenu"
            android:exported="false" />
        <activity
            android:name=".seller_pesticidesmenu"
            android:exported="false" />
        <activity
            android:name=".seller_equipmenu"
            android:exported="false" />
        <activity
            android:name=".sellerhome"
            android:exported="false" />
        <activity
            android:name=".sellerlogin"
            android:exported="false"/>

             <activity
            android:name=".buyer_orderdetails3"
            android:exported="false" />
        <activity
            android:name=".buyer_productsmenu3"
            android:exported="false" />
        <activity
            android:name=".buyer_buypest"
            android:exported="false" />
        <activity
            android:name=".buyer_orderdetails2"
            android:exported="false" />
        <activity
            android:name=".buyer_productsmenu2"
            android:exported="false" />
        <activity
            android:name=".buyer_buymenu"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buyer_orderdetails"
            android:exported="false" />
        <activity
            android:name=".buyer_enterdetails"
            android:exported="false" />
        <activity
            android:name=".orders"
            android:exported="false" />
        <activity
            android:name=".buyer_productsmenu"
            android:exported="false" />
        <activity
            android:name=".buyer_rentmenu"
            android:exported="false" />
        <activity
            android:name=".buyerhomepage"
            android:exported="false" />
        <activity
            android:name=".buyerlogin"
            android:exported="false" />
        <activity
            android:name=".homepage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>